<!DOCTYPE html>
<html>

<head>
    <title>Placement Preparation Portal</title>
</head>

<body style="background: linear-gradient(to right, #dbeafe, #e0f7fa);
             font-family: Arial;
             text-align: center;">

    <div style="margin-top: 100px;">

        <h1 style="font-size: 45px;
                   color: darkblue;">
            🎯 Placement Preparation Portal
        </h1>

        <p style="font-size: 22px;
                  color: #444;">
            Prepare for Aptitude, Coding & Interviews in one place 🚀
        </p>

        <div style="background-color: white;
                    width: 500px;
                    margin: auto;
                    padding: 40px;
                    border-radius: 20px;
                    box-shadow: 0px 0px 15px gray;">

            <h2 style="color: #2563eb;">
                Welcome Student 👋
            </h2>

            <p style="font-size:18px;">
                Start your placement preparation journey today!
            </p>

              <a href="/login">
                <button style="background-color: #2563eb;
                               color: white;
                               padding: 15px 30px;
                               border: none;
                               border-radius: 12px;
                               font-size: 18px;">
                    🚀 Start Preparation
                </button>
            </a>

        </div>

    </div>

</body>
</html>